@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  background-color: #f8f7f5;
  color: #333;
}

a, a:visited {
	color: #333;
}

a:hover, a:active  {
	color: red;
}

h3 {
  text-align: center;
  font-size: 26px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

.page-wrap {
	text-align: center;
}

.page-view {
	width: 80%;
	display: inline-block;
	max-width: 1200px;
}

@media only screen and (max-width: 600px) {
  .page-view {
  	width: 100%;
  }
}

.header {
	padding: 20px;
	text-align: center;
}

.splitter {
	width: 100%;
	display: block;
	padding: 0 10px;

}

.splitter-line {
	display: block;
	height: 1px;
	border-bottom: 1px solid #ccc;
	}

.content {
	text-align: left;
	width: 100%;
}
